In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

result = requests.get('https://trak.in/india-startup-funding-investment-2015/')
html_doc = result.text
soup = BeautifulSoup(result.content,'lxml')  #lxml (xml processing library)
table = soup.find_all('table')   #will fetch all the tables on page
html_list = pd.read_html(str(table))
#print(html_list)

#print(df)
#print(df[0].to_json(orient='records'))
list_length = len(html_list)
#print(list_length)
df_full=[]
for i in range(list_length):
    df = pd.DataFrame(html_list[i])
    df_full.append(df)
df_full = pd.concat(df_full,ignore_index=True)
df_full.columns = ['SNo','Date','StartupName','IndustryVertical','SubVertical','CityLocation','InvestorsName','InvestmentType','AmountInUSD']
df_full.to_csv('StartUpFundingDataScrap.csv')
    
#df_full.head()
#df_full.info()

In [2]:
#merge datafiles (India startup funds)
#1. https://www.kaggle.com/ashishpatel26/startup-funding-in-india/data  
#2. https://trak.in/india-startup-funding-investment-2015/    Data of these years (2016-17)
data_till_2017 = pd.read_csv('startup_funding_before_till_2017.csv')
data_from_2017 = pd.read_csv('StartUpFundingDataScrap_2018to2019.csv')
#data_from_2017.sort_values(ascending=False,axis=0, inplace=True)
fundings = pd.concat([data_from_2017,data_till_2017,],ignore_index=True,sort=True)
#fundings.to_csv('consolidate.csv')

In [3]:
fundings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2770 entries, 0 to 2769
Data columns (total 11 columns):
AmountInUSD         1887 non-null object
CityLocation        2587 non-null object
Date                2766 non-null object
IndustryVertical    2595 non-null object
InvestmentType      2763 non-null object
InvestorsName       2730 non-null object
Remarks             419 non-null object
SNo                 2766 non-null float64
StartupName         2766 non-null object
SubVertical         1830 non-null object
Unnamed: 0          398 non-null float64
dtypes: float64(2), object(9)
memory usage: 238.1+ KB

In [4]:
fundings.head()

,AmountInUSD,CityLocation,Date,IndustryVertical,InvestmentType,InvestorsName,Remarks,SNo,StartupName,SubVertical,Unnamed: 0
0,51000000.0,Bengaluru,05/06/2019,E-Commerce,Series C,General Atlantic,NaN,1.0,NoBroker,Real Estate,0.0
1,10000000.0,New Delhi,04/06/2019,Food and Beverage,Debt Funding,Anicut Capital,NaN,2.0,Bira91,Brewery,1.0
2,4889975.54,Gurgaon,03/06/2019,E-Commerce,NaN,"Goldman Sachs, Accel Partners and Qualcomm",NaN,3.0,FabHotels,Hospitality,2.0
3,9000000.0,Bengaluru,03/06/2019,Finance,Series A,Matrix Partners,NaN,4.0,Avail Finance,FinTech,3.0
4,75000000.0,New Delhi,04/06/2019,Finance,Series B,Insight Partners,NaN,5.0,BharatPe,FinTech,4.0

In [5]:
fundings = df.loc[:, ~df.columns.str.contains('^Unnamed')]  #need to check this again

In [6]:
fundings.head()

,Sr. No.,Date (dd/mm/yyyy),Startup Name,Industry / Vertical,Sub-Vertical,City / Location,Investors' Name,Investment Type,Amount (In USD)
0,1,01/07/2018,Leena AI,Technology,HR Virtual Agent For Employees,Gurugram,Y Combinator,Seed/ Angel Funding,NaN
1,2,02/07/2018,Biryani By Kilo,Consumer Internet,Online Food Delivery,Gurugram,Ajay Relan and Vinay Mittal,Seed/ Angel Funding,1000000.0
2,3,04/07/2018,Anchanto,IT,E-commerce Fulfilment Platform,Pune,MDI Ventures & Telkom Indonesia,Private Equity,4000000.0
3,4,05/072018,Loan Tap,Consumer Internet,Online Lending Platform For Salaried Professio...,Mumbai,"Shunwei Capital, Tuscan Ventures, Ashish Goenk...",Private Equity,6250000.0
4,5,06/07/2018,PolicyBazaar,Consumer Internet,Online Insurance Selling Platform,Gurugram,Info Edge (India) Ltd and Temasek,Private Equity,27700000.0